*.pyc
*.DS_Store

tests/*
dist/*
build/*
stubs/*
tnreason/tensorreasoning.egg-info/*

.idea/
.ipynb_checkpoints/
Untitled.ipynb
benchmarking/SML-Bench-updates/
demonstration/fig.png
demonstration/visualizations/

demonstrations/markowitz_portfolio/examples/datev_11prod/*

old_dist/
tnreason.egg-info/

demonstrations/sudoku/sudoku_bench/sample_data/hf_sudoku_dataset/*
demonstrations/sudoku/sudoku_bench/sample_data/alphareason_prepared_unsolved.parquet
demonstrations/sudoku/sudoku_bench/sample_data/alphareason_prepared_unsolved.parquet.jsonl
demonstrations/sudoku/sudoku_bench/sample_data/alphareason_prepared_unsolved.parquet.tmp
